extends layout

block content
  - var results = docs.results
  +list("blog.title", results)

mixin list(selector, docs)
  ul
    each doc in docs
      each frag in doc
        li= frag.getText(selector) 
